*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  border: 1px solid gray;
  margin: 10px;
}

/*Part del index*/
body{
background-color: #EAFFEF;

}

h1{
font-family: Verdana;

font-size: 55px;
padding: 1%;
margin: 2%;
text-align: center;




}
h2{
font-family: Verdana;
font-size: 25px;
margin:1%;

}

ul > li > a{
list-style:none;
text-decoration:none;
margin: 2%;
font-size: 24px;
background-color: #ffedbf;
color: darkred;
}

ul > li > a:hover{

margin: 2%;
font-size: 30px;
background-color: darkred;
color:#ffedbf ;
}







/*Part dels joc1*/




/*Part del joc2*/

#hall{
    text-align: center;
    padding: 7px;
      background-image: linear-gradient(to right, indigo,violet); 
    border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
    -webkit-box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.75);
box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.75);
}

